<section class="container">
    <div class="row">
            <div class="col-6" style=" margin:0 auto;">
                <div class="card" style=" border:none;">
                        <img src="<%= item.image %>" class="card-img-top" alt="item image">
                        <div class="card-body">
                        <h5 class="card-title">Item name: <%= item.name %></h5>
                        <p class="card-text">Description: <%= item.descrption %></p>
                        <p class="card-text">Price: <%= item.price %> SAR</p>
                        <p class="card-text"><%= moment(item.createdAt).fromNow() %></p>
                        </div>
                        <form action="/buy" method="POST">
                            <input name="item" value="<%= item._id %>" type="hidden">
                            <input name="buyer" value="<%= currentUser._id %>" type="hidden">
                            <input name="seller" value="<%= item.user[0]._id %>" type="hidden">
                            <button class="get-buy-btn" type="submit">Buy</button>
                        </form>
                        <br>
                       <div>
                        <form action="/buyer/index/<%=item._id%>" method="POST">
                            <h5 class="card-title">comment:</h5>
                            <textarea class="form-control" name="comment"></textarea>
                            <button class="get-comment-btn" type="submit">Add Comment</button>
                        </form>
                       </div>
                </div>
            </div> 
             <div class="comments"> 
            <h2 data-aos="fade-in"> Comments </h2>
        <% item.comments.forEach(comment => { %>
            <li><i class="bx bx-comment"></i> <%= comment.comment %></li><br>
        <% }) %>
    </div>   
    </div>
    
   
</section>

  
     
