<section class="container">
    <div class="section-title2">
        <h2 data-aos="fade-in"> Wlecome <%= user.name %></h2>
    </div>
    <!-- list of Items created -->
    <div class="row mb-3">
        <% user.items.forEach(item => { %>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                        <img src="<%= item.image %>" class="card-img-top" alt="item image">
                        <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text"><%= item.description %></p>
                        <p class="card-text"><%= item.price %></p>
                        <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                </div>
            </div> 
        <% }) %>
    </div>
</section>