  <section class="container">
        <div class="section-title2">
            <h2 data-aos="fade-in"> Wlecome, <%= user.name %>  </h2>
        </div>
        <!-- list of Items created -->
        <div class="row mb-3">
            <% item.forEach(item => { %>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                            <img src="<%= item.image %>" class="card-img-top" alt="item image">
                            <div class="card-body">
                            <h5 class="card-title"><%= item.name %></h5>
                            <p class="card-text"><%= item.description %></p>
                            <p class="card-text"><%= item.price %></p>
                              <div class="row">

                                <button type="submit"  class="btn btn-primary"><a href="/items/<%=item.id%>/edit"> Edit</a> </button>

                            </form>


                                <form action="/index/<%=item._id %>/delete?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                              </div>
                            </div>
                    </div>
                </div> 
            <% }) %>
        </div>
    </section>